body {
  font-family: "Merriweather Sans", sans-serif;
}

.weather-wrapper {
  max-width: 100%;
  margin: 30px auto;
}

.weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.london,
.newYork,
.amsterdam,
.kyiv {
  text-align: left;
}
.newYork {
  margin-left: -40px;
}
.kyiv {
  margin-left: -20px;
}
.amsterdam {
  margin-left: -55px;
}
.search {
  margin-left: 30px;
  padding: 3px 30px 3px 30px;
  color: white;
  background-color: #44a2ef;
  border: 1px solid #44a2ef;
  border-radius: 3px;
  box-shadow: 1px 0px 8px #467397;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.search:hover {
  color: #346994;
  background-color: rgb(238, 238, 238);
  font-weight: 500;
}
.current {
  margin-left: -140px;
  padding: 3px 20px 3px 20px;
  color: white;
  background-color: #8dbe54;
  border: 1px solid #8dbe54;
  border-radius: 3px;
  box-shadow: 1px 0px 8px rgb(112, 151, 67);
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.current:hover {
  color: rgb(115, 163, 61);
  background-color: rgb(245, 246, 245);
  font-weight: 500;
}
h1 {
  background-color: #ee6666;
  color: white;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
}
h2 {
  text-align: center;
  background-color: rgb(238, 238, 238);
  font-style: italic;
  font-size: 25px;
  border-radius: 3px;
  color: rgb(126, 125, 125);
  font-weight: bolder;
  margin: 5px 30px;
}
h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(190, 189, 189);
}

.temperature {
  text-align: center;
  font-size: 130px;
  font-weight: bold;
  color: #8dbe54;
  position: relative;
  top: -40px;
}
.otherDetails {
  padding: 30px 30px 30px 80px;
  color: rgb(126, 125, 125);
  font-style: italic;
  font-size: 18px;
  position: relative;
  left: 10px;
}
.SUN,
.MON,
.TUE,
.WED,
.THU,
.FRI,
.SAT {
  color: white;
  text-align: center;
  margin-top: -80px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
}
.SUN {
  background-color: rgb(245, 238, 105);
}
.MON {
  background-color: rgb(189, 224, 149);
}
.TUE {
  background-color: #76d1cb;
}

.WED {
  background-color: rgb(81, 143, 190);
}
.THU {
  background-color: #d1b9d6;
}

.FRI {
  background-color: #f88787;
}
.SAT {
  background-color: #ffd3b4;
}

footer {
  margin-left: 25px;
  margin-top: 20px;
  color: rgb(126, 125, 125);
}

.icon {
  position: relative;
  top: -70px;
  left: 0px;
  width: 250px;
  max-width: 100%;
  display: block;
}
